<div class="background"></div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 formBox">
    <h3>Username: {{showedUser.username}}</h3>
    <div class="seperation"></div>
    <ul>
      <li>{{showedUser._topics.length}} topics</li>
      <li>{{showedUser._answers.length}} posts</li>
      <li>{{showedUser._comments.length}} comments</li>
      <li>{{showedUser._upvotes.length}} upvotes</li>
      <li>{{showedUser._downvotes.length}} downvotes</li>
    </ul>
  </div>
</div>